name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install fonts
      run: |
        apt update
        apt install --yes \
          fonts-roboto \
          fonts-adobe-sourcesans3 \
          ;

    - name: Compile
      run: make

    - uses: actions/upload-artifact@v6
      with:
        name: cv-pdf
        path: compiled/cv.pdf

    - uses: actions/upload-artifact@v6
      with:
        name: resume-pdf
        path: compiled/resume.pdf

    - uses: actions/upload-artifact@v6
      with:
        name: coverletter-pdf
        path: compiled/coverletter.pdf

    - uses: actions/upload-artifact@v6
      with:
        name: compiled
        path: compiled/*.pdf
